<div class="fixed bg-white top-0 left-0 right-0">
  <div class="flex flex-row justify-between items-center mx-6">
    <h1 class="text-3xl font-bold my-6 hover:cursor-pointer" (click)="navigateToDashboard()">DriveDash</h1>
    @if ((clerk.user$ | async)) {
      <a routerLink="/create-ad" class="rounded-full bg-gray-600 hover:bg-gray-700 text-white w-10 h-10 flex items-center justify-center text-2xl">+</a>
    }
    <div class="flex flex-row">
      @if ((clerk.user$ | async)) {<a routerLink="/my-ads" class="text-xl mr-2">My ads</a>}
      <app-sign-in></app-sign-in>
    </div>
  </div>
</div>

